<section class="relative z-20 pt-16  h-5/6 bg-gray-300" >
{#    style="background-image: url('{{ page.media[page.header.image].url }}')"#}
    <div class="relative z-20 h-full  content text-white">
        <div class="h-full xl:w-1/2 flex flex-col justify-center space-y-10">
            <h1 class="text-2xl sm:text-4xl font-semibold">A <span class="text-3xl sm:text-5xl font-bold">TailwindCSS 3</span> based Grav Theme</h1>
            <p class=" sm:w-3/4"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi consectetur cum distinctio dolores error in iste maiores neque nulla numquam pariatur porro possimus quas quis, reiciendis sapiente soluta tenetur?</span><span>Adipisci animi delectus deserunt dignissimos dolorem dolores doloribus ea expedita facere fugit harum necessitatibus omnis perspiciatis quaerat quam ratione recusandae sint tempore unde, veritatis? Accusamus ea inventore nisi numquam quisquam.</span></p>
            <button class="w-max py-3 px-4 bg-primary font-semibold">See documentation</button>

        </div>
{#        <img src="{{ page.media[page.header.image].url }}" alt="">#}

    </div>

    <div class="absolute z-0 pt-16 top-0 w-full h-full bg-gradient-to-br from-gray-900 to-primary">
        <img class="w-full h-full object-cover opacity-20 blur-sm " src="{{ page.media[page.header.image].url }}" alt="">
    </div>
</section>
